<aside class="bg-dark">
    <div class="container text-center">
        <div class="call-to-action">
            <h2>Review My Experience</h2>
            <a href="/resume" class="btn btn-default btn-xl wow tada">View CV</a>
            <div class="testimonials">
                <blockquote>"This tool gives us the ability to reach out to 500-plus facilities in an instant. It really fills the gap of being able to respond to vulnerable populations in a quick manner, which was something that we couldn't do before despite every effort to do so."<br /> <span>Molly Martin, assistant commissioner with the Baltimore City Health Department</span></blockquote>
                <blockquote>"Lorem ipsum lorem sodales enim tristique nulla lorem, augue accumsan blandit a elit blandit sagittis ultricies, venenatis dictumst elementum justo in quis. Felis quisque proin rhoncus magna lorem, proin hendrerit taciti platea sociosqu, posuere aliquet vehicula platea. Sem purus primis lacus a lectus congue, elementum morbi pulvinar maecenas torquent. "<br /><span>Dmitry Yun, CEO Skyward Technologies</span></blockquote>
                <blockquote>"Lorem ipsum volutpat himenaeos habitasse fermentum dapibus eu fusce nam curabitur torquent, proin cubilia eros dictum vitae nec ultrices tristique varius dictum orci iaculis, habitant fringilla adipiscing rhoncus eleifend bibendum nisi nulla consectetur commodo."<br /><span>Nick Collingham, Managing Partner Alcor Technologies</span></blockquote>
            </div>
        </div>
    </div>
</aside>