<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Ready to Elevate Your Project?</h2>
                <hr class="light">
                <p class="text-faded">Unlock the full potential of your software with guidance from an experienced consultant. Let's innovate and succeed together.</p>
                <a href="https://calendly.com/jason-conversadocs/30min" class="btn btn-default btn-xl">Schedule a Call</a>
            </div>
        </div>
    </div>
</section>