<section class="no-padding" id="portfolio">
    <div class="container-fluid">
        <div class="row no-gutter">
            <div class="col-lg-4 col-sm-6">
                <a href="https://github.com/StoopidCompany/Code-AINATORi" class="portfolio-box" target="_blank">
                    <img src="img/portfolio/pexels-godiatima-5223887.jpg" class="img-responsive" alt="Photo by Godfrey Atima from Pexels">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                AI Tool
                            </div>
                            <div class="project-name">
                                Code-AINATOR
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="https://conversadocs.ai" class="portfolio-box" target="_blank">
                    <img src="img/portfolio/pexels-kevin-ku-92347-577585.jpg" class="img-responsive" alt="Photo by Kevin Ku from Pexels">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                AI Platform
                            </div>
                            <div class="project-name">
                                ConversaDocs.ai
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="https://github.com/CodeForBaltimore/" class="portfolio-box" target="_blank">
                    <img src="img/portfolio/pexels-harold-vasquez-853421-2653362.jpg" class="img-responsive" alt="Photo by Harold Vasquez from Pexels">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Civic Tech
                            </div>
                            <div class="project-name">
                                Code for Baltimore (inactive)
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</section>
